
```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %> style="margin: 10px 0;">
    <span class="listing-title lead"><b><%= item.title %></b></span><br />
    <span class="listing-author"><%= item.author %></span><br />
    <span class="listing-publication fst-italic "><%= item.publication %></span>
    <span class="listing-journaltitle"><html><%= item.journaltitle %></html></span><br />
    <span class="listing-year">(<%= item.date %>)</span><br />
    <!-- <a href="<%- item.path %>" class="btn btn-primary">
      Details
    </a> -->
    <% if (item.path) { %>
      <a href="<%- item.path %>" class="btn btn-outline-primary btn-sm" target="_blank" rel="noopener noreferrer" >
        <i class="bi bi-file-earmark-pdf"></i>PDF
      </a>
      <% } %>
      <% if (item.code) { %>
        <a href="<%- item.code %>" class="btn btn-outline-primary btn-sm" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-code"></i>Code
        </a>
        <% } %>
  </li>
<% } %>
</ul>

```